.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em $horisontal-section-padding;
  border-bottom: $border-width-default solid $lightgrey-color;
  background-color: $grey-color;

  .container-logo{
    width: 120px;
    height: 120px;

    .link{
      width: 100%;
      height: 100%;
      display: inline-block;

      &:focus{
        outline: 2px solid $focus-color;
        outline-offset: 3px;
      }
    }

    .logo{
      width: 100%;
    }
  }

  .button{
    width: 2.6em;
    height: 2.15em;
    border: calc( $border-width-default * 2 ) solid transparent;
    border: none;
    background: transparent;
    border-radius: $border-radius-default;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: 1.13em;
    box-shadow: $box-shadow-default;

    &:focus{
      outline: 2px solid $focus-color;
      outline-offset:  $outline-offset;
    }


    &-language{
      background-repeat: no-repeat;
      background-size: cover;


    }

    &[data-lang="ua"]{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 480' width='64' height='48' %3E%3Cg fill-rule='evenodd' stroke-width='1pt'%3E%3Cpath fill='gold' d='M0 0h640v480H0z'/%3E%3Cpath fill='%230057b8' d='M0 0h640v240H0z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &[data-lang="en"]{
      /* uk */
      /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 480' width='64' height='48' %3E%3Cpath fill='%23012169' d='M0 0h640v480H0z'/%3E%3Cpath fill='%23FFF' d='m75 0 244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0z'/%3E%3Cpath fill='%23C8102E' d='m424 281 216 159v40L369 281zm-184 20 6 35L54 480H0zM640 0v3L391 191l2-44L590 0zM0 0l239 176h-60L0 42z'/%3E%3Cpath fill='%23FFF' d='M241 0v480h160V0zM0 160v160h640V160z'/%3E%3Cpath fill='%23C8102E' d='M0 193v96h640v-96zM273 0v480h96V0z'/%3E%3C/svg%3E%0A"); */
      /* us */
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 480' width='64' height='48' %3E%3Cpath fill='%23bd3d44' d='M0 0h640v480H0'/%3E%3Cpath stroke='%23fff' stroke-width='37' d='M0 55.3h640M0 129h640M0 203h640M0 277h640M0 351h640M0 425h640'/%3E%3Cpath fill='%23192f5d' d='M0 0h364.8v258.5H0'/%3E%3Cmarker id='us-a' markerHeight='30' markerWidth='30'%3E%3Cpath fill='%23fff' d='m14 0 9 27L0 10h28L5 27z'/%3E%3C/marker%3E%3Cpath fill='none' marker-mid='url(%23us-a)' d='m0 0 16 11h61 61 61 61 60L47 37h61 61 60 61L16 63h61 61 61 61 60L47 89h61 61 60 61L16 115h61 61 61 61 60L47 141h61 61 60 61L16 166h61 61 61 61 60L47 192h61 61 60 61L16 218h61 61 61 61 60z'/%3E%3C/svg%3E");
    }
  }
}

@media (max-width: 760px){
  .header{
    padding: .5em calc( $mobile-horisontal-section-padding * 3 );

    .container-logo{
      width: 70px;
      height: 70px;
    }
  }
}